<div class="container">
    <div class="col-md-12">
        <h1>About US</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio maiores fuga in tempore at nemo, expedita itaque quidem, animi recusandae omnis cum voluptatum dignissimos aliquam sapiente sint sed nam? Aperiam.
        Omnis minus distinctio, inventore corrupti voluptatem voluptatum corporis autem. Distinctio dolore corporis unde magni illo reiciendis, provident amet est totam nemo aperiam libero optio eum odio tempora veritatis consequatur voluptate!
        Eveniet esse ullam adipisci quod assumenda illo exercitationem laborum doloremque iure. Assumenda iste recusandae tempore, vitae ipsam ullam, possimus cum blanditiis, quibusdam ex facere molestias repudiandae nostrum obcaecati? Quidem, voluptatem?
        </p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto voluptatibus vero facere veniam quasi ipsa assumenda ut aspernatur soluta hic rem omnis iste, minima optio quam sequi, ex amet dolorum.
            
        </p>
    </div>
</div>